<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>물품일괄등록</title>
</head>
<body>
    <div style="padding:50px">
        <h3>물품일괄등록</h3>
        <hr />
        
        <!-- @를 넣으면 context-path(ROOT)가 자동으로 잡힌다. -->
        <!-- hidden으로 csrf 토큰이 숨어있다. -->
        <form th:action="@{/seller/insertitembatch}" method="post"
            enctype="multipart/form-data">

            <!-- sequence 숫자를 늘리면 항목을 늘릴 수 있다. -->
            <tb:block th:each="i : ${#numbers.sequence(1,2)}"> 
                <label>물품명</label><input type="text" name="iname" /><br />
                <label>물품내용</label><textarea type="text" rows="6" cols="22" name="icontent"></textarea><br />
                <label>물품가격</label><input type="text" name="iprice" /><br />
                <label>물품수량</label><input type="text" name="iquantity" /><br />
                <label>대표이미지</label><input type="file" name="timage" /><br />
                <!-- 이미지는 name을 맞추면 오류난다. 왜 그럴까? DTO에 없는 값으로 지정해야함 -->
                <hr />
            </tb:block>

                <input type="submit" value="물품등록" style="margin-left:210px;">

        </form>
    </div>

<style>
label {
    display: inline-block;
    width: 100px;
    margin-bottom: 8px;;
    text-align: center;
}
</style>
</body>

</html>

